<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TIMES Ticketing</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<style>
			*,
			*:before,
			*:after {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
				font-family: "Inter", sans-serif;
			}
			body {
				background-color: #f5f5f5;
			}
			header {
				background-color: #1a365d;
				border-bottom: 2px solid #132641;
				padding: 10px 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
			}
			.logo_img {
				height: 50px;
			}
			.logo_title {
				color: #fff;
				font-size: 20px;
				font-weight: semibold;
			}
			.logo_title span {
				font-weight: normal;
			}
			.container {
				max-width: 480px;
				margin: 0 auto;
				padding: 20px;
				background-color: #fff;
				margin-top: 20px;
        border: 1px solid #ccc;
				border-radius: 0.5rem;
				box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
				color: #333;
			}
			h4 {
				font-size: 20px;
				font-weight: 500;
				margin-bottom: 10px;
			}
			.email_body {
				font-size: 14px;
				line-height: 1.5;
				color: #333;
				margin-top: 1em;
			}
      .ticket_detail {
        font-size: 14px;
        line-height: 1.5;
        color: #333;
        margin-top: 1em;
      }
      .ticket_detail li {
        list-style: none;
      }
      .ticket_detail li span {
        font-weight: 600;
      }
      footer {
        background-color: #1a365d;
        margin-top: 20px;
        padding: 15px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
      }
      </style>
	</head>
	<body>
		<header>
			<img
				src="https://i.ibb.co/9yPCmsd/logo.png"
				alt="times logo"
				class="logo_img"
			/>
			<h1 class="logo_title">TIMES <span>Ticketing</span></h1>
		</header>